{% extends 'base.html.twig' %}
{% block body %}
    <h1>Séries de la catégorie <b>{{ category.name }}</b></h1>
    {% if programs is empty %}
        <p>Aucune série n'a encore été ajoutée à cette catégorie</p>
    {% endif %}
    {% for program in programs %}
    <li>
        <p></p>
        <h2>#{{ program.id ~ ' ' ~ program.title }}</h2>
        <img src="{{ program.poster }}" alt="{{ program.title }} poster">
        <p>{{ program.summary }}</p>
    </li>
    {% endfor %}
{% endblock %}
