{% extends 'base.html.twig' %}
{% block title %}{{ episode.title }}{% endblock %}

{% block body %}

    <h1>Episode #{{ episode.number~' '~episode.title }}</h1>
    <p>Série : <a
                href="{{ path('wild_program', {'slug': program.title|lower|replace({' ': '-'})}) }}">{{ program.title }}</a>
    </p>
    <p><a href="{{ path('wild_season', {'id': season.id}) }}">{{ season.description }}</a> ({{ season.year }})</p>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3>Ajouter un commentaire</h3>
        <p>{{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Add') }}</button>
            {{ form_end(form) }}</p>
    {% endif %}

    <h3>Commentaires</h3>
    <ul>
        {% for comment in comments %}
            <div class="card">
                <li class="card-body">
                    <p>{{ comment.comment }}</p>
                    <p>Note : {{ comment.rate }} / 10</p>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if comment.author.email == app.user.email %}
                        <form action="{{ path('wild_comment_delete', { id: comment.id }) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-comment') }}"/>
                            <button type="submit">Supprimer le commentaire</button>
                        </form>
                    {% endif %}
                    {% endif %}
                </li>
            </div>

        {% endfor %}
    </ul>
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
